<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="Console" />
    </root>
    <logger name="org.testng" level="error">
        <appender-ref ref="Console"/>
    </logger>
</configuration>